.range-slider {
  position: absolute;
  width: 100%;
  top: 27%;
  transform: translateY(-50%);
  appearance: none;
  background: transparent;
  pointer-events: none;
}

.range-slider::-webkit-slider-runnable-track {
  height: 8px;
  background: transparent;
}

.range-slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #111827;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0 2px 8px rgba(0,0,0,.25);
  transition: .2s;
}

.range-slider::-webkit-slider-thumb:hover {
  transform: scale(1.15);
}

.range-slider::-moz-range-track {
  background: transparent;
}

.range-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: #111827;
  cursor: pointer;
  pointer-events: auto;
}